body {
    width: 300px;
    height: 350px;
    margin: 0;
    text-align: center;
    font:14px "Roboto", Helvetica, Arial, sans-serif;
}
.box {
    background-color: #f5f4f4;
    height: 100%;
}
.title {
    display: flex;
    background-color: #273238;
    align-items: center;
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.2);
}
.title>h2 {
    color: white;
    padding-left: 10px;
    margin: 0;
}
.save-code-icon>a>img {
    height: 35px;
}
.btn {
    width: 150px;
    margin: 15px auto;
    display: block;
    color: #fff;
    padding: 0.8em;
    transition: 0.3s;
    border: 2px solid #ddd;
    text-transform: uppercase;
    border-radius: 50px;
    letter-spacing: 0.5px;
    background-color: #445a64;
}
.btn:hover {
    background-color: grey;
    border-color: transparent;
    cursor: pointer; 
}
.btn#recent-saves{
    background-color: #8BC34A;
    border-color: transparent;
}
.btn#recent-saves:hover {
    background-color: grey;
}
.footer {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: flex-end;
}
.footer>.help {
    color: grey;
    font-size: 12px;
    padding: 5px;
}

